Package: mbeddr
Version: 0.5.2724-0
Section: devel
Priority: extra
Architecture: all
Depends: jetbrains-mps (>=3.0.1)
Recommends: nusmc, cbmc (>= 4.3)
Installed-Size: 65672
Maintainer: Kolja Dummann <kolja.dummann@logv.ws>
Homepage: www.logv.ws
Description: mbeddr supports embedded software development based on an extensible version of the C programming language and an IDE.
